In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

## Extracting features of 2018 movies from Wikipedia

In [2]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2018"
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]

df_2018 = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)
df_2018

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,JANUARY,5,Insidious: The Last Key,Universal Pictures / Blumhouse Productions / S...,Adam Robitel (director); Leigh Whannell (scree...,[2]
1,JANUARY,5,The Strange Ones,Vertical Entertainment,Lauren Wolkstein (director); Christopher Radcl...,[3]
2,JANUARY,5,Stratton,Momentum Pictures,"Simon West (director); Duncan Falconer, Warren...",[4]
3,JANUARY,10,Sweet Country,Samuel Goldwyn Films,"Warwick Thornton (director); David Tranter, St...",[5]
4,JANUARY,12,The Commuter,Lionsgate / StudioCanal / The Picture Company,Jaume Collet-Serra (director); Byron Willinger...,[6]
...,...,...,...,...,...,...
264,DECEMBER,25,Holmes & Watson,Columbia Pictures / Gary Sanchez Productions,Etan Cohen (director/screenplay); Will Ferrell...,[163]
265,DECEMBER,25,Vice,Annapurna Pictures / Plan B Entertainment,Adam McKay (director/screenplay); Christian Ba...,[137]
266,DECEMBER,25,On the Basis of Sex,Focus Features,Mimi Leder (director); Daniel Stiepleman (scre...,[226]
267,DECEMBER,25,Destroyer,Annapurna Pictures,"Karyn Kusama (director); Phil Hay, Matt Manfre...",[258]
268,DECEMBER,28,Black Mirror: Bandersnatch,Netflix,David Slade (director); Charlie Brooker (scree...,[259]

## Extracting features of 2019 movies from Wikipedia

In [3]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2019"
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]

df_2019 = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)
df_2019

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,JANUARY,4,Escape Room,Columbia Pictures,"Adam Robitel (director); Bragi F. Schut, Maria...",[2]
1,JANUARY,4,Rust Creek,IFC Films,Jen McGowan (director); Julie Lipson (screenpl...,[3]
2,JANUARY,4,American Hangman,Hangman Justice Productions,Wilson Coneybeare (director/screenplay); Donal...,[4]
3,JANUARY,11,A Dog's Way Home,Columbia Pictures,Charles Martin Smith (director); W. Bruce Came...,[5]
4,JANUARY,11,The Upside,STX Entertainment,Neil Burger (director); Jon Hartmere (screenpl...,[6]
...,...,...,...,...,...,...
237,DECEMBER,25,Spies in Disguise,20th Century Fox / Blue Sky Studios / Chernin ...,"Nick Bruno, Troy Quane (directors); Brad Copel...",[132]
238,DECEMBER,25,Little Women,Columbia Pictures / Regency Enterprises,Greta Gerwig (director/screenplay); Saoirse Ro...,[221]
239,DECEMBER,25,1917,Universal Pictures / DreamWorks Pictures / Ent...,Sam Mendes (director/screenplay); Krysty Wilso...,[222]
240,DECEMBER,25,Just Mercy,Warner Bros. Pictures / Participant Media,"Destin Daniel Cretton (director/screenplay), A...",[223]
241,DECEMBER,27,Clemency,Neon,Chinonye Chukwu (director/screenplay); Alfre W...,[224]

## Extracting features of 2020 movies from Wikipedia

In [4]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2020"
df1 = pd.read_html(link, header=0)[3]
df2 = pd.read_html(link, header=0)[4]
df3 = pd.read_html(link, header=0)[5]
df4 = pd.read_html(link, header=0)[6]

df_2020 = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)
df_2020

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,JANUARY,3,The Grudge,Screen Gems / Stage 6 Films / Ghost House Pict...,Nicolas Pesce (director/screenplay); Andrea Ri...,[2]
1,JANUARY,10,Underwater,20th Century Fox / TSG Entertainment / Chernin...,"William Eubank (director); Brian Duffield, Ada...",[3]
2,JANUARY,10,Like a Boss,Paramount Pictures,"Miguel Arteta (director); Sam Pitman, Adam Col...",[4]
3,JANUARY,10,Three Christs,IFC Films,Jon Avnet (director/screenplay); Eric Nazarian...,NaN
4,JANUARY,10,Inherit the Viper,Barry Films / Tycor International Film Company,Anthony Jerjen (director); Andrew Crabtree (sc...,[5]
...,...,...,...,...,...,...
266,DECEMBER,25,We Can Be Heroes,Netflix / Troublemaker Studios,Robert Rodriguez (director/screenplay); Priyan...,[239]
267,DECEMBER,25,News of the World,Universal Pictures / Perfect World Pictures,Paul Greengrass (director/screenplay); Luke Da...,[240]
268,DECEMBER,25,One Night in Miami...,Amazon Studios,Regina King (director); Kemp Powers (screenpla...,[241]
269,DECEMBER,25,Promising Young Woman,Focus Features / FilmNation Entertainment,Emerald Fennell (director/screenplay); Carey M...,[242]
270,DECEMBER,30,Pieces of a Woman,Netflix / Bron Studios,Kornél Mundruczó (director); Kata Wéber (scree...,[243]

## Extracting features of 2021(upto June) movies from Wikipedia

In [5]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2021"
df1 = pd.read_html(link, header=0)[3]
df2 = pd.read_html(link, header=0)[4]

df_2021 = df1.append(df2,ignore_index=True)
df_2021

,Opening,Opening.1,Title,Production company,Cast and crew,Ref,Ref.
0,JANUARY,1,Shadow in the Cloud,Vertical Entertainment,Roseanne Liang (director/screenplay; Max Landi...,[2],NaN
1,JANUARY,13,The White Tiger,Netflix,Ramin Bahrani (director/screenplay); Adarsh Go...,NaN,NaN
2,JANUARY,14,Locked Down,HBO Max / Warner Bros. Pictures,Doug Liman (director); Steven Knight (screenpl...,[3],NaN
3,JANUARY,15,The Dig,Netflix / Clerkenwell Films,Simon Stone (director); Moira Buffini (screenp...,[4],NaN
4,JANUARY,15,Outside the Wire,Netflix,"Mikael Håfström (director); Rob Yescombe, Rowa...",[5],NaN
...,...,...,...,...,...,...,...
114,JUNE,25,F9,Universal Pictures / Original Film / One Race ...,Justin Lin (director/screenplay); Daniel Casey...,NaN,[90]
115,JUNE,25,Werewolves Within,IFC Films / Ubisoft Film & Television,Josh Ruben (director); Mishna Wolff (screenpla...,NaN,NaN
116,JUNE,25,False Positive,A24 / Hulu,John Lee (director/screenplay); Ilana Glazer (...,NaN,[91]
117,JUNE,25,Blue Bayou,Focus Features / Entertainment One,Justin Chon (director/screenplay); Justin Chon...,NaN,[92]
118,JUNE,30,Zola,A24,Janicza Bravo (director/screenplay); Jeremy O....,NaN,[93]

In [7]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = '49a9ec3add7d7c5d33c1bfb4485ab694'   #api key

In [11]:
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_genre(x):
    try:
        genres = []
        result = tmdb_movie.search(x)
        movie_id = result[0].id
        response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
        data_json = response.json()
    finally:
        if data_json['genres']:
            genre_str = " " 
            for i in range(0,len(data_json['genres'])):
                genres.append(data_json['genres'][i]['name'])
            return genre_str.join(genres)
        else:
            return np.nan

In [12]:
#getting the genres of the movies
from tqdm import tqdm
for i,data in tqdm(df_2018.iterrows()):
    df_2018.at[i,'genres']=get_genre(data["Title"])

269it [01:29,  3.01it/s]

In [13]:
for i,data in tqdm(df_2019.iterrows()):
    df_2019.at[i,'genres']=get_genre(data["Title"])

242it [01:30,  2.69it/s]

In [30]:
#################here we have to remove the extra part or else we wont find the genres for this particular in tmdb website
print(df_2020["Title"][df_2020.index==126])
df_2020["Title"][df_2020.index==126]='The SpongeBob Movie: Sponge on the Run'
print("-------------------------------------------------------")
print(df_2020["Title"][df_2020.index==126])

126    The SpongeBob Movie: Sponge on the Run
Name: Title, dtype: object
-------------------------------------------------------
126    The SpongeBob Movie: Sponge on the Run
Name: Title, dtype: object

In [24]:
for i,data in tqdm(df_2020.iterrows()):
    df_2020.at[i,'genres']=get_genre(data["Title"])

271it [02:53,  1.57it/s]

In [15]:
for i,data in tqdm(df_2021.iterrows()):
    df_2021.at[i,'genres']=get_genre(data["Title"])

119it [01:42,  1.16it/s]

In [45]:
#combining all the movies data together

df = df_2018.append(df_2019.append(df_2020.append(df_2021,ignore_index=True),ignore_index=True),ignore_index=True)
df.head(10)

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.,genres,Ref
0,JANUARY,5,Insidious: The Last Key,Universal Pictures / Blumhouse Productions / S...,Adam Robitel (director); Leigh Whannell (scree...,[2],Horror Mystery Thriller,NaN
1,JANUARY,5,The Strange Ones,Vertical Entertainment,Lauren Wolkstein (director); Christopher Radcl...,[3],Thriller Drama,NaN
2,JANUARY,5,Stratton,Momentum Pictures,"Simon West (director); Duncan Falconer, Warren...",[4],Action Thriller,NaN
3,JANUARY,10,Sweet Country,Samuel Goldwyn Films,"Warwick Thornton (director); David Tranter, St...",[5],Drama History Western,NaN
4,JANUARY,12,The Commuter,Lionsgate / StudioCanal / The Picture Company,Jaume Collet-Serra (director); Byron Willinger...,[6],Action Thriller,NaN
5,JANUARY,12,Proud Mary,Screen Gems,"Babak Najafi (director); John S. Newman, Chris...",[7],Thriller Action Crime,NaN
6,JANUARY,12,Acts of Violence,Lionsgate Premiere,Brett Donowho (director); Nicolas Aaron Mezzan...,[8],Action,NaN
7,JANUARY,12,Freak Show,IFC Films,"Trudie Styler (director); Patrick J. Clifton, ...",[9],Comedy Drama,NaN
8,JANUARY,12,Humor Me,Shout! Factory / Shout! Studios,Sam Hoffman (director/screenplay); Jemaine Cle...,[10],Comedy,NaN
9,JANUARY,12,Vazante,Music Box Films,Daniela Thomas (director/screenplay); Beto Ama...,[11],Drama,NaN

In [46]:
df.shape

(901, 8)

In [47]:
df = df[['Title','Cast and crew','genres']]
df

,Title,Cast and crew,genres
0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...,Horror Mystery Thriller
1,The Strange Ones,Lauren Wolkstein (director); Christopher Radcl...,Thriller Drama
2,Stratton,"Simon West (director); Duncan Falconer, Warren...",Action Thriller
3,Sweet Country,"Warwick Thornton (director); David Tranter, St...",Drama History Western
4,The Commuter,Jaume Collet-Serra (director); Byron Willinger...,Action Thriller
...,...,...,...
896,F9,Justin Lin (director/screenplay); Daniel Casey...,Action Thriller Crime
897,Werewolves Within,Josh Ruben (director); Mishna Wolff (screenpla...,Horror Comedy
898,False Positive,John Lee (director/screenplay); Ilana Glazer (...,Horror
899,Blue Bayou,Justin Chon (director/screenplay); Justin Chon...,NaN
900,Zola,Janicza Bravo (director/screenplay); Jeremy O....,Drama Comedy Crime

In [48]:
def get_director(x):           #getting the director names of the movies
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    elif " (director/screenplay)" in x:
        return x.split(" (director/screenplay)")[0]
    else:
        return np.nan

In [49]:
for i,data in df.iterrows():
    df.at[i,"director_name"]=get_director(data["Cast and crew"])

In [50]:
df.head()

,Title,Cast and crew,genres,director_name
0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...,Horror Mystery Thriller,Adam Robitel
1,The Strange Ones,Lauren Wolkstein (director); Christopher Radcl...,Thriller Drama,Lauren Wolkstein
2,Stratton,"Simon West (director); Duncan Falconer, Warren...",Action Thriller,Simon West
3,Sweet Country,"Warwick Thornton (director); David Tranter, St...",Drama History Western,Warwick Thornton
4,The Commuter,Jaume Collet-Serra (director); Byron Willinger...,Action Thriller,Jaume Collet-Serra

In [51]:
def get_actors(x):                                      #getting the 3 actor names of the movies
    casts=(x.split("screenplay); ")[-1]).split(", ")
    if len(casts)>=3:
        return casts[0],casts[1],casts[2]
    elif len(casts)==2:
        casts.extend([np.nan,np.nan])
    elif len(casts)==1:
        casts.extend([np.nan,np.nan,np.nan])
    return casts[0],casts[1],casts[2]

In [52]:
for i,data in df.iterrows():
    a1,a2,a3=get_actors(data["Cast and crew"])
    df.at[i,"actor_1_name"]=a1
    df.at[i,"actor_2_name"]=a2
    df.at[i,"actor_3_name"]=a3

In [53]:
df.head()

,Title,Cast and crew,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...,Horror Mystery Thriller,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell
1,The Strange Ones,Lauren Wolkstein (director); Christopher Radcl...,Thriller Drama,Lauren Wolkstein,Alex Pettyfer,James Freedson-Jackson,Emily Althaus
2,Stratton,"Simon West (director); Duncan Falconer, Warren...",Action Thriller,Simon West,Dominic Cooper,Austin Stowell,Gemma Chan
3,Sweet Country,"Warwick Thornton (director); David Tranter, St...",Drama History Western,Warwick Thornton,Bryan Brown,Sam Neill,NaN
4,The Commuter,Jaume Collet-Serra (director); Byron Willinger...,Action Thriller,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson

In [54]:
df = df.rename(columns={'Title':'movie_title'})

In [55]:
df

,movie_title,Cast and crew,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...,Horror Mystery Thriller,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell
1,The Strange Ones,Lauren Wolkstein (director); Christopher Radcl...,Thriller Drama,Lauren Wolkstein,Alex Pettyfer,James Freedson-Jackson,Emily Althaus
2,Stratton,"Simon West (director); Duncan Falconer, Warren...",Action Thriller,Simon West,Dominic Cooper,Austin Stowell,Gemma Chan
3,Sweet Country,"Warwick Thornton (director); David Tranter, St...",Drama History Western,Warwick Thornton,Bryan Brown,Sam Neill,NaN
4,The Commuter,Jaume Collet-Serra (director); Byron Willinger...,Action Thriller,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson
...,...,...,...,...,...,...,...
896,F9,Justin Lin (director/screenplay); Daniel Casey...,Action Thriller Crime,Justin Lin,Vin Diesel,John Cena,Michelle Rodriguez
897,Werewolves Within,Josh Ruben (director); Mishna Wolff (screenpla...,Horror Comedy,Josh Ruben,Sam Richardson,Milana Vayntrub,George Basil
898,False Positive,John Lee (director/screenplay); Ilana Glazer (...,Horror,John Lee,Ilana Glazer,Justin Theroux,Sophia Bush
899,Blue Bayou,Justin Chon (director/screenplay); Justin Chon...,NaN,Justin Chon,Justin Chon,Alicia Vikander,Mark O'Brien
900,Zola,Janicza Bravo (director/screenplay); Jeremy O....,Drama Comedy Crime,Janicza Bravo,Taylour Paige,Riley Keough,Nicholas Braun

In [56]:
df = df[['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]
df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell,Horror Mystery Thriller,Insidious: The Last Key
1,Lauren Wolkstein,Alex Pettyfer,James Freedson-Jackson,Emily Althaus,Thriller Drama,The Strange Ones
2,Simon West,Dominic Cooper,Austin Stowell,Gemma Chan,Action Thriller,Stratton
3,Warwick Thornton,Bryan Brown,Sam Neill,NaN,Drama History Western,Sweet Country
4,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson,Action Thriller,The Commuter
...,...,...,...,...,...,...
896,Justin Lin,Vin Diesel,John Cena,Michelle Rodriguez,Action Thriller Crime,F9
897,Josh Ruben,Sam Richardson,Milana Vayntrub,George Basil,Horror Comedy,Werewolves Within
898,John Lee,Ilana Glazer,Justin Theroux,Sophia Bush,Horror,False Positive
899,Justin Chon,Justin Chon,Alicia Vikander,Mark O'Brien,NaN,Blue Bayou
900,Janicza Bravo,Taylour Paige,Riley Keough,Nicholas Braun,Drama Comedy Crime,Zola

In [57]:
df.isna().sum()         #searching for na values if any

director_name    18
actor_1_name      0
actor_2_name     14
actor_3_name     72
genres            5
movie_title       0
dtype: int64

In [59]:
#replacing the na values with an empty string

df['director_name'] = df['director_name'].replace(np.nan, '')
df['actor_2_name'] = df['actor_2_name'].replace(np.nan, '')
df['actor_3_name'] = df['actor_3_name'].replace(np.nan, '')
df['genres'] = df['genres'].replace(np.nan, '')

In [60]:
df['movie_title'] = df['movie_title'].str.lower()

In [61]:
df['bow'] = df['actor_1_name'] + ' ' + df['actor_2_name'] + ' '+ df['actor_3_name'] + ' '+ df['director_name'] +' ' + df['genres']

In [62]:
df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,bow
0,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell,Horror Mystery Thriller,insidious: the last key,Lin Shaye Angus Sampson Leigh Whannell Adam Ro...
1,Lauren Wolkstein,Alex Pettyfer,James Freedson-Jackson,Emily Althaus,Thriller Drama,the strange ones,Alex Pettyfer James Freedson-Jackson Emily Alt...
2,Simon West,Dominic Cooper,Austin Stowell,Gemma Chan,Action Thriller,stratton,Dominic Cooper Austin Stowell Gemma Chan Simon...
3,Warwick Thornton,Bryan Brown,Sam Neill,,Drama History Western,sweet country,Bryan Brown Sam Neill Warwick Thornton Drama ...
4,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson,Action Thriller,the commuter,Liam Neeson Vera Farmiga Patrick Wilson Jaume ...
...,...,...,...,...,...,...,...
896,Justin Lin,Vin Diesel,John Cena,Michelle Rodriguez,Action Thriller Crime,f9,Vin Diesel John Cena Michelle Rodriguez Justin...
897,Josh Ruben,Sam Richardson,Milana Vayntrub,George Basil,Horror Comedy,werewolves within,Sam Richardson Milana Vayntrub George Basil Jo...
898,John Lee,Ilana Glazer,Justin Theroux,Sophia Bush,Horror,false positive,Ilana Glazer Justin Theroux Sophia Bush John L...
899,Justin Chon,Justin Chon,Alicia Vikander,Mark O'Brien,,blue bayou,Justin Chon Alicia Vikander Mark O'Brien Justi...
900,Janicza Bravo,Taylour Paige,Riley Keough,Nicholas Braun,Drama Comedy Crime,zola,Taylour Paige Riley Keough Nicholas Braun Jani...

In [63]:
df.to_csv('data-(2018&after).csv',index=False)       #csv file for movies from 2018 to 2021(june)

In [68]:
df1=pd.read_csv("data-(2017&before).csv")
df1

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,bow
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,NaN,Documentary,star wars: episode vii - the force awakens ...,NaN
...,...,...,...,...,...,...,...
5430,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Tiitus Rantala,Romance Comedy,thick lashes of lauri mäntyvaara,Inka Haapamäki Rosa Honkonen Tiitus Rantala Ha...
5431,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Crime Comedy Action Family,cop and a half: new recruit,Lou Diamond Phillips Wallace Shawn Gina Holden...
5432,Beth David Esteban Bravo,NaN,NaN,NaN,Family Animation Romance Comedy,in a heartbeat,Beth David Esteban Bravo Family Animation R...
5433,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Crime Drama Thriller,mom,Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi U...
5434,Daisy Asquith,NaN,NaN,NaN,NaN,queerama,Daisy Asquith

In [69]:
df=df.append(df1)       #combining the 2 movies dataset

In [76]:
df['bow'] = df['bow'].str.lower()  #converting the bow column to lower case
df.drop_duplicates(subset ="movie_title", keep = 'last', inplace = True)

In [77]:
df.to_csv("final_movies_dataset.csv",index=False)

In [78]:
#for verification

df=pd.read_csv("final_movies_dataset.csv")
df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,bow
0,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell,Horror Mystery Thriller,insidious: the last key,lin shaye angus sampson leigh whannell adam ro...
1,Lauren Wolkstein,Alex Pettyfer,James Freedson-Jackson,Emily Althaus,Thriller Drama,the strange ones,alex pettyfer james freedson-jackson emily alt...
2,Warwick Thornton,Bryan Brown,Sam Neill,NaN,Drama History Western,sweet country,bryan brown sam neill warwick thornton drama ...
3,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson,Action Thriller,the commuter,liam neeson vera farmiga patrick wilson jaume ...
4,Babak Najafi,Taraji P. Henson,Billy Brown,Danny Glover,Thriller Action Crime,proud mary,taraji p. henson billy brown danny glover baba...
...,...,...,...,...,...,...,...
6294,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Tiitus Rantala,Romance Comedy,thick lashes of lauri mäntyvaara,inka haapamäki rosa honkonen tiitus rantala ha...
6295,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Crime Comedy Action Family,cop and a half: new recruit,lou diamond phillips wallace shawn gina holden...
6296,Beth David Esteban Bravo,NaN,NaN,NaN,Family Animation Romance Comedy,in a heartbeat,beth david esteban bravo family animation r...
6297,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Crime Drama Thriller,mom,sridevi kapoor sajal ali akshaye khanna ravi u...
6298,Daisy Asquith,NaN,NaN,NaN,NaN,queerama,daisy asquith